@{
    ViewData["Title"] = "Customer Information";
 //   List <customer> customer = new List<customer>();
}

<div class="text-center">
    <h1 class="header">
        <strong>CUSTOMER INFORMATION</strong></h1>
</div>

<style>
    body {
        background-color: #fff5f7;
    }
    .header{
        font-family: Cambria, italic;
        font-size: 52;
        color:midnightblue;
    }
</style>
